<template>
        <div class="backHome">
            <router-link  to="/Home">
            <a>
                <div class="ensB">
                    <img src="../assets/left-arrow.svg" height="20px" width="20px" />
                    <img src="../assets/home.svg" height="50px" width="50px" />

                </div>
            </a>
            </router-link>
        </div>
</template>

<script>
export default {

}

</script>

<style scoped>
.backHome{
    width: 7%;
    height: 100%;
    
    

}
.ensB{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: white;
    transition: background 0.5s ease;
    border-right: 1px solid black;


}
.ensB:hover{
    background: #CAEBF1;
    border-right: 2 px solid black;

}
.ensB img{

   
}

</style>