<template>
    
    <div class="col s12 m4">

    <div class="card  blue darken-1">
        <div class="card-content white-text">
            <span class="card-title">Nom: {{name}}</span>
            <div class="ensE">
                <div class="teacher">

                    <ul>
                    <li>Enseignant: {{first}} {{last}} </li>
                        <p></p>
                    <li>Ecole: {{school}} </li>
                    <p></p>
                        <li>Mail : {{email}} </li>
                        <p></p>

                        <li>Nombre d'élève: {{int}}</li>
                      

                        <li>Description: <br></li>
                        <div class="bio">{{bio}}</div>
                    </ul>

                    

                </div>

                
            </div>
        </div>
        <div class="card-action space">
            <a class="waves-effect waves-light btn" id="button-essai" v-on:click="$emit('id-ens', idtarget);myFunction"    >
                Invitation   <i class="material-icons">send</i> </a>


        </div>
    </div>


</div>

</template>
<script>
export default {

        props:['nbs','lang','bio','int','idtarget','name','email','school','first','last',"myFunction"]

   ,
   methods:{
       
     
   }
}
</script>

<style scoped>
.space{
    display: flex;
    justify-content: space-around;

}

.space a{
    display: flex;
    border-radius: 10px;
    
}
.space a i{
    margin-left: 10px;
    
}

.ensE{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.teacher{
    width: 100%;
}
.teacher p{
    background: red;
    text-align: center;
    font-size: fit-width;
}
.droite{
    
    display: flex;
    justify-content: center;align-items: center;

}
.arrow{
    color:#002240;
    font-size: 80px;
    
}
.card .card-action:last-child {
    border-radius: 0 0 2px 2px;
    background: #005EB2;
    border-top: 1px solid white;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #002240;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}


.btn:hover, .btn-large:hover, .btn-small:hover {

    background-color: #288AE2;
   
}

.hovershow{
    display: none;
}
    
.hovershownothidden {
    display: block;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 200%;
    background: red;
    z-index: 20;
   
}


.part-class{
    overflow-y:scroll;
    height:90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.create{
    height: 90% !important;
    width: 100%;
    position: absolute;
    
}

.excompo{
    display: flex;
    flex-direction: column;
}

#myBtn {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.btn-create {
    width: 100%;
    /* background: red; */
    height: 100%;
    display: flex;
    justify-content: center;
}
.excompo2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
    justify-content: center;
    align-content: center;


}
</style>