<template>
    
    <div class="col s4 m12">
    <div id="hovershow" class="hovershow">Stuff shown on hover</div>

    <div class="card  blue darken-1">
        <div class="card-content white-text">
            <span class="card-title">Nom: {{name}}</span>
            <div class="ensE">
                <div class="teacher">

                    <ul>

                        <li>Nombre d'élève : {{nbs}}</li>
                        <p></p>

                        <li>Description : {{bio}}<br></li>
                        <div class="bio"></div>

                    </ul>

                    

                </div>

                
            </div>
        </div>
        <div class="card-action space">
            <a class="waves-effect waves-light btn" id="Button" v-on:click="$emit('id-ens', idorigin)"  >
                Sélectionner cette classe   <i class="material-icons">send</i> </a>


        </div>
    </div>


</div>
</template>
<script>
export default {
        props: ['name','nbs','bio','idorigin']

}
</script>
