<script>
    function myFunction() {
        var x = document.getElementById("boxnone");
        if (x.style.display === "none") {
            x.style.display = "block";
            x.style.animation = " slide-down .4s ease-out";
        } else {

            x.style.display = "none";

        }
    }</script>
<template>
<div class="allContent">

    <div class="ensCata">
        <backHome></backHome>

        <div class="catalogue">
            <div class="boxTandem" id="boxnone">
                <div class="quit">

                    <a class="waves-effect waves-light btn">
                            <i class="material-icons">close</i>
                        </a>
                </div>
                <h4>Mes classes:</h4>
                <div class="myClass">
                    <div id="app">
                        <orteach></orteach>

                        <div class="row">

                        </div>
                    </div>

                </div>
            </div>
            <div class="ensCatalogue " id='catalogueEns'>

                <div class="row">

                    <card v-for="item in userpending" :key="item._id" v-bind:lang="item.Language" v-bind:first="item.teacherID.firstname" v-bind:last="item.teacherID.lastname" v-bind:email="item.teacherID.email" v-bind:school="item.teacherID.school" v-bind:bio="item.bio"
                        v-bind:int="item.nbStudent" v-bind:name="item.name" v-bind:idtarget="item._id"></card>

                </div>

            </div>

        </div>
    </div>

</div>
</template>

<
<script>
import carde from './cardCata.vue'
import back from './back.vue'
import orTeach from './cardCataOrTeach.vue'

let token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoidGVhY2hlciIsImZpcnN0bmFtZSI6ImNocmlzdG9waGVyIiwibGFzdG5hbWUiOiJkZSBib2lzdmlsbGllciIsIl9pZCI6IjViMmQ3NGI4ZmUzYTE1NzJlYjJmN2I1ZCIsImlhdCI6MTUyOTg3NzQxMn0.YFU4xpKiKbp0k8hb4P9QkWtkliLJfmKRALuqpyHQXpI"

let source = {
    originID: null,
    targetID: null
}
var urlnot = "http://localhost:3000/api/classroom/getOwnClassroom/notInTandem";

var urlTandem = "http://localhost:3000/api/createTandem "
var urlE = "http://localhost:3000/api/classroom/getAllOtherClassroom";
var myProp = token;
var dataFetchV = {
    token: token,
    skip: 0,
    limit: 10
};

export default {

    data: function () {
        return {
            userpending: null,
            teacherclass: null,
            originID: null,
            targetID: null
        }
    },
    components: {
        'card': carde,
        'backHome': back,
        'orteach': orTeach

    },
    created: function () {
        fetch(urlE, {
                method: 'POST',
                body: JSON.stringify(dataFetchV),
                headers: {
                    'Content-Type': 'application/json'
                }

            }).then(res => {
                return res.json()
            }).then(json => {
                this.userpending = json.body;
            }),
            fetch(urlnot, {
                method: 'POST',
                body: JSON.stringify(dataFetchV),
                headers: {
                    'Content-Type': 'application/json'
                }

            }).then(res => {
                return res.json()
            }).then(json => {
                this.teacherclass = json.body;
                this.originID = this.teacherclass[0]._id;
            })
            

    },

    methods: {
        getOrigin: function (id) {
            console.log(id);
            this.source.originID = id;
            console.log(this.source.originID)
            var dataFetchP = {
                token: myProp,
                originClassroom: source.originID,
                targetClassroom: source.targetID
            };

            if (id != null) {
                fetch(urlTandem, {
                    method: 'POST',
                    body: JSON.stringify(dataFetchP),
                    headers: {
                        'Content-Type': 'application/json'
                    }

                }).then(res => console.log(res.json()))
            }

        },
        sendID: function (id) {
            dataFetchV.userID = id
            console.log(dataFetchV)

            fetch(urlValidate, {
                method: 'POST',
                body: JSON.stringify(dataFetchV),
                headers: {
                    'Content-Type': 'application/json'
                }

            })

        },
        myFunction:   function(){
        var x = document.getElementById("boxnone");
        if (x.style.display === "none") {
            x.style.display = "block";
            x.style.animation = " slide-down .4s ease-out";
        } else {

            x.style.display = "none";

        }
    }
    }

}
</script>

<style scoped>
.comp {
    /* margin-top: 10%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 85%;
    background: white;
    width: 20%;
    z-index: -1;
    left: 5%;
}

.page {
    display: flex;
    flex-direction: column;
}

.ens {
    display: flex;
    width: 100%;
    height: 100%;
}

.nomp {
    height: 10%;
    width: 100%;
    border-bottom: 2px solid grey;
}

.allContent {
    width: 100%;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    flex-direction: column;
    top: 0px;
    margin-top: 5%;
}

.ensCata {
    position: relative;
    width: 80%;
    height: 90%;
    display: flex;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 198px -13px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 198px -13px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 198px -13px rgba(0, 0, 0, 0.81);
    z-index: -1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.catalogue {
    width: 93%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ensCatalogue {
    width: 98%;
    height: 98%;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 10%;
    /* Location of the box */
    left: 0;
    top: 0;
    max-height: 100%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#class {
    height: 90%;
}

.btn-floating.btn-large {
    width: 25% !important;
    /* height: 56px; */
    padding: 0;
}

.carousel {
    height: 90% !important;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    width: 100%;
}

.ense {
    width: 90%;
    background: white;
    background: rgba(255, 255, 255, 0.3);
    visibility: hidden;
    display: flex;
    justify-content: center;
    height: 100%;
}

.col .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
    width: 90%;
}

.car {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.excompo {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.create {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.boxTandem {
    width: 70%;
    background: rgb(0, 0, 0, 0.4);
    height: 70%;
    z-index: 5;
    position: absolute;
    display: none;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 78px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 78px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 78px -10px rgba(0, 0, 0, 0.75);
}

.quit {
    position: absolute;
    right: 0px;
}

.boxTandem h4 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.myClass {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.active {
    display: block;
}

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-100);
    }
}

@-moz-keyframes slide-up {
    0% {
        opacity: 0;
        -moz-transform: translateY(0);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(-100);
    }
}

.elin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: baseline;
}

.sizedrop {
    background: red;
    width: 100%;
}
</style>
