<template>
<div class="allContent">

    <div class="ensContent">

        <div class="infoEns">

            <div class="profile">

                <div id="userHome">
                    <div class="name">
                        <H4>Prénom:</H4>
                        {{firstname}}

                    </div>
                    <div class="name">

                        <H4>Nom:</H4>
                        {{lastname}}
                    </div>

                </div>

            </div>

            <div class="navigate">

                <div class="ensNav">

                    <div class="cata marginLink">
                        <img src="../assets/employees.svg" height="120px" width="120px" />
                        <router-link to='/Catalog'>
                        <a class="third after" >
                            <h5>Trouver une classe partenaire</h5>
                        </a>
                        </router-link>
                    </div>
                    <div class="classNB marginLink">

                        <img src="../assets/classroom.svg" height="120px" width="120px" />
                        <a class="third after" href="createClass.html">
                            <h5>Configurer mes classes</h5>
                        </a>

                    </div>
                    <div class="classNB marginLink">

                        <img src="../assets/network.svg" height="120px" width="120px" />
                        <a class="third after" href="https://tandem.ulaval.ca/moodle/login/index.php">
                            <h5>Accéder à la plateforme d'échange</h5>
                        </a>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
</template>

<script>
let token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoidGVhY2hlciIsImZpcnN0bmFtZSI6ImNocmlzdG9waGVyIiwibGFzdG5hbWUiOiJkZSBib2lzdmlsbGllciIsIl9pZCI6IjViMmQ3NGI4ZmUzYTE1NzJlYjJmN2I1ZCIsImlhdCI6MTUyOTg3NzQxMn0.YFU4xpKiKbp0k8hb4P9QkWtkliLJfmKRALuqpyHQXpI"
function parseJwt (token) {
    var base64Url = token.split('.')[1];
      var base64 = base64Url.replace('-', '+').replace('_', '/');
      return JSON.parse(window.atob(base64));
  }
let info_user = parseJwt(token)
export default {
    data: function() {
        return {
            firstname: null,
            lastname: null
        }

    },
    created: 
        function () {
        
            this.firstname = info_user.firstname
            this.lastname = info_user.lastname
        }
    , methods:{




    }

};
</script>

<style>
.comp {
    /* margin-top: 10%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 85%;
    background: white;
    width: 20%;
    z-index: -1;
    left: 5%;
}

.page {
    display: flex;
    flex-direction: column;
}

.ens {
    display: flex;
    width: 100%;
    height: 100%;
}

.nomp {
    height: 10%;
    width: 100%;
    border-bottom: 2px solid grey;
}

.allContent {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -1;
    margin-top: 5%;
}

.ensContent {
    width: 60%;
    height: 70%;
    display: flex;
    background: white;
    border-radius: 5px;
    margin-top: 1%;
    -webkit-box-shadow: 0px 0px 198px -13px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 198px -13px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 198px -13px rgba(0, 0, 0, 0.81);
    z-index: -1;
    justify-content: center;
    align-items: center;
}

.infoEns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid grey;
    align-items: center;
}

.navigate {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.title {
    width: 100%;
    height: 15%;
    text-align: center;
}

.ensNav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.marginLink {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: baseline;
    align-items: center;
}

.marginLink a {}

.ensNav img {
    margin-right: 10%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.ensNav a,
.ensNav a:visited,
.ensNav a:hover,
.ensNav a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #81b3d2;
    font-size: 1em;
}

.ensNav a:hover {
    color: #516E7F;
}

.ensNav a.before:before,
.ensNav a.after:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.ensNav a.before:before {
    top: -0.25em;
}

.ensNav a.after:after {
    bottom: -0.25em;
}

.ensNav a.before:before,
.ensNav a.after:after {
    height: 0.15rem;
    width: 0;
    background: #516E7F;
}

.ensNav a.third:after,
.ensNav a.sixth:before,
.ensNav a.sixth:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ensNav a.before:hover:before,
.ensNav a.after:hover:after {
    width: 100%;
}
</style>
