<template>
<div id="app">
    <nav>
        <div class="nav-wrapper blue darken-2">
            <a href="#" class="brand-logo"><img src="./assets/logo.png" alt="Tandem Canada"></a>

            <ul id="nav-mobile" class="right">
                <li>
                  <router-link  to="/Home"><a>Home</a></router-link>

                    
                </li>
                <li>
                    <router-link  to="/Catalog"> <a >Catalogue</a></router-link>
                </li>
                <li>
                    <router-link  to="/Catalog"> <a >Plateforme</a></router-link>
                </li>

            </ul>

        </div>
    </nav>

    <router-view></router-view>
</div>
</template>

<script>
export default {};
</script>

<style scoped>
.logo {
    display: inline-block;
    height: 100%;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    height: 100%;
    width: 10%;
    margin-left: 2%;
}

nav .brand-logo img {
    object-fit: contain;
    max-width: 100%;
}
</style>
